<page-box>
    <div class="row">
        <div class="col-7">
            <h3>
                <button *ngIf="this.isAllowed" [routerLink]="['/pos/purchases/manage']" mat-mini-fab [color]="'default'">
                    <i class="fa fa-arrow-left"></i>
                </button>
                &nbsp;
                <strong>Purchase History</strong>
            </h3>
        </div>
        <div class="col-4">
            <single-date-selector (selected)="onFilterByDate($event)" (cancel)="cancelFilterByDate()">
            </single-date-selector>
        </div>
        <div class="col-1" style="padding: 5px;">
            <button (click)="onRefresh()" mat-icon-button>
                <mat-icon>refresh</mat-icon>
            </button>
        </div>
    </div>

    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

    <mat-table [dataSource]="purchases" class="mat-elevation-z8">

        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
            <mat-cell *matCellDef="let element;">
                {{ element.id }}
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="date">
            <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
            <mat-cell *matCellDef="let element;">
                {{ getDate(element.tsServer) | date:'medium' }}
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="whTitle">
            <mat-header-cell *matHeaderCellDef>Warehouse</mat-header-cell>
            <mat-cell *matCellDef="let element;">
                {{element.whTitle }}
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="deliveryOrderNo">
            <mat-header-cell *matHeaderCellDef>Delivery Order No</mat-header-cell>
            <mat-cell *matCellDef="let element;">
                {{element.deliveryOrderno }}
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="total">
            <mat-header-cell *matHeaderCellDef>Total Cost</mat-header-cell>
            <mat-cell *matCellDef="let element;">
                <strong>Rs. {{ (element.totalCost?element.totalCost:0) | number:'.2' }}</strong>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="approved">
            <mat-header-cell *matHeaderCellDef>Approved?</mat-header-cell>
            <mat-cell *matCellDef="let element;">
                <i class="fa fa-check green" *ngIf="element.isApproved"></i>
                <i class="fa fa-times red" *ngIf="!element.isApproved"></i>
            </mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="download">
            <mat-header-cell *matHeaderCellDef>Download</mat-header-cell>
            <mat-cell *matCellDef="let element;" (click)="$event.stopPropagation()">
                <button *ngIf="this.isAllowed" (click)="onDownload(element)" matTooltip="Download Data" mat-mini-fab [color]="'default'">
                    <i class="fa fa-download"></i>
                </button>
            </mat-cell>
        </ng-container>



        <mat-header-row *matHeaderRowDef="getDisplayedColumns()"></mat-header-row>
        <mat-row (click)="onSelectPurchase(row)" *matRowDef="let row; columns: getDisplayedColumns();"></mat-row>

    </mat-table>


    <br>
    <mat-paginator [pageIndex]="page.page" [length]="count" [pageSize]="page.size" [pageSizeOptions]="[5, 10, 25, 100]"
        (page)="onPageChanged($event)">
    </mat-paginator>

</page-box>