.mat-column-id {
    flex: 0 0 10% !important;
    width: 10% !important;
}  

.mat-column-riderName {
    flex: 0 0 60% !important;
    width: 60% !important;
} 

.mat-column-totalOrders {
    justify-content: center;
} 

.mat-column-totalAmount {
    justify-content: center;
} 


.mat-row:hover {
    background-color: #0002;
    cursor: pointer;
}

.active {
    background-color: #ccf;
}