<page-box>
    <h3>
        <strong>Upload Sheet</strong>
    </h3>
    <mat-divider></mat-divider>
    <div class="upload-box" style="min-height: 100px;">
        <input type="file" [disabled]="uploading" id="file" (change)="onSelected($event)">
        <label for="file" class="btn-2">upload</label>
        <p>
            Download sample file 
            <a href="../../../../assets/example.csv" download>here</a>.
        </p>
        <mat-progress-bar mode="indeterminate" *ngIf="uploading"></mat-progress-bar>
    </div>
    <mat-divider></mat-divider>
    <br>

    <h3 *ngIf="uploaded">
        <strong>Review/Update Data</strong>
    </h3>
    <!-- MAT AUTO-COMPLETE FOR SELECTING STORES -->
    <form class="example-form">
        <mat-form-field style="width: 100%;" class="example-full-width" *ngIf="whList">
            <input type="text" placeholder="Select Warehouse" aria-label="Number" matInput [formControl]="whControl">
        <mat-select [(value)]="selectedWh">
            <mat-option *ngFor="let option of whList" [value]="option.id">
                {{option.title}} 
            </mat-option>
        </mat-select>
        </mat-form-field>
    </form>
    <mat-table class="mat-elevation-z8" *ngIf="uploaded" [dataSource]="productsList">
        
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
            <mat-cell *matCellDef="let product;">
                {{ product.libraryItemId }}
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
            <mat-cell *matCellDef="let product;">
                {{ product.title }}
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="cost">
            <mat-header-cell *matHeaderCellDef>Cost</mat-header-cell>
            <mat-cell *matCellDef="let product;">
                <mat-form-field style="width: 90%;">
                    <input matInput autocomplete="off" [(ngModel)]="product.cost" type="number">
                </mat-form-field>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="quantity">
            <mat-header-cell *matHeaderCellDef>Quantity</mat-header-cell>
            <mat-cell *matCellDef="let product;">
                <mat-form-field style="width: 90%;">
                    <input matInput autocomplete="off" [(ngModel)]="product.quantity" type="number">
                </mat-form-field>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="price">
            <mat-header-cell *matHeaderCellDef>Price</mat-header-cell>
            <mat-cell *matCellDef="let product;">
                <mat-form-field style="width: 90%;">
                    <input matInput autocomplete="off" [(ngModel)]="product.price" type="number">
                </mat-form-field>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="columnsList"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columnsList;"></mat-row>

    </mat-table>

    <br>
    <div *ngIf="uploaded" style="height: 50px;" [align]="'end'">
        <button (click)="onSubmit()" *ngIf="!submitting" [disabled]="!selectedWh" mat-raised-button [color]="'primary'">
            Submit
        </button>
        <mat-progress-bar mode="indeterminate" *ngIf="submitting"></mat-progress-bar>
    </div>
    
</page-box>