.mat-column-id {
    flex: 0 0 8% !important;
    width: 8% !important;
}

.mat-column-select {
    flex: 0 0 8% !important;
    width: 8% !important;
}

.mat-column-type {
    flex: 0 0 15% !important;
    width: 15% !important;
}

.mat-column-strategy {
    flex: 0 0 15% !important;
    width: 15% !important;
}

.mat-column-price {
    flex: 0 0 10% !important;
    width: 10% !important;
}
