.invoice-heading {
    background-color: #3f51b5;
    color: white;
    padding: 10px;
}

.box {
    padding: 10px;
    margin: 0px;
    background-color: #eef;
}

.mat-column-id {
    flex: 0 0 10% !important;
    width: 10% !important;
}

.mat-column-title {
    flex: 0 0 25% !important;
    width: 25% !important;
}

.mat-column-pricingStrategy {
    flex: 0 0 15% !important;
    width: 15% !important;
}

.mat-column-quantity {
    justify-content: center;
}

.mat-column-cost {
    justify-content: center;
}

.mat-column-quantityReceived {
    justify-content: center;
}