<h2 class="invoice-heading">
    <div class="row">
        <div class="col-6" style="padding-top: 4px;">
            Update Count
        </div>
        <div [align]="'end'" class="col-6">
            <button (click)="onClose()" mat-icon-button>
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </div>
</h2>

<br>

<div class="row">
    <div class="col-md-3 offset-9">
        <mat-form-field style="width: 100%;">
            <input matInput autocomplete="off" [(ngModel)]="countList.countNumber"
                placeholder="Count Number" type="text">
        </mat-form-field>
    </div>
</div>

<div class="row">
    <div class="col-md-4" style="padding-top: 15px;">
        Add New Product:
    </div>
    <div class="col-md-4">
        <span *ngIf="showTitle">
            <product-find-selector (selected)="onAddProduct($event)"></product-find-selector>
        </span>
    </div>

    <div class="col-md-4">
        <product-barcode-find-selector (selected)="onAddProduct($event)"></product-barcode-find-selector>
    </div>
</div>


<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>

<mat-table *ngIf="!loading" class="mat-elevation-z8" [dataSource]="countList.branchProducts">

    <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
        <mat-cell *matCellDef="let product;">
            {{ product.libraryItemId }}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
        <mat-cell *matCellDef="let product;">
            <span>
            {{product.title}}
          </span>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="quantity">
        <mat-header-cell *matHeaderCellDef>Quantity</mat-header-cell>
        <mat-cell *matCellDef="let product;">
            <mat-form-field style="width: 90%;">
                <input matInput autocomplete="off" [(ngModel)]="product.quantity" type="number">
            </mat-form-field>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="delete">
        <mat-header-cell *matHeaderCellDef>Delete</mat-header-cell>
        <mat-cell *matCellDef="let product;">
            <button matTooltip="Toggle Delete" (click)="toggleDelete(product)" mat-mini-fab [color]="'warn'">
                <mat-icon>delete</mat-icon>
            </button>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columnsList"></mat-header-row>
    <mat-row [ngStyle]="{ backgroundColor: row.state == 'D' ? '#fcc' : 'white' }"
        *matRowDef="let row; columns: columnsList;"></mat-row>

</mat-table>


<br>
<div class="flex" style="height: 50px;">
    <div class="spacer"></div>
    <mat-spinner *ngIf="submitting" [diameter]="35"></mat-spinner>
    <div *ngIf="!submitting">
        <button mat-raised-button (click)="onCancel()" [color]="'Warn'">Cancel</button>
        &nbsp;
        <button mat-raised-button (click)="onUpdate()" [color]="'primary'">Update</button>
    </div>
</div>